.app-bar {
    background-color: #1C1C1C !important;
    color: #00FFFF !important;
    font-weight: bold !important;
}

.background-sobre-nos {
    background-image: url(../../../assets/img/background-diverso-transparencia.svg);
    background-color: #000000;
    background-size: 50vh;
}

.glass {
    padding: 30px !important;
    backdrop-filter: blur(3px);
    border-bottom: solid 1px #00FFFF;
    border-left: solid 1px #00FFFF;
}

.postagens-panel {
    padding: 0px !important;
}

.tabs {
    font-weight: bold !important;
}

.titulo-sobre {
    align-items: center;
    text-align: center !important;
    font-weight: bold !important;
    color: #FF00FF !important;
}

.MuiTypography-h5 {
    font-weight: bold!important;
}

.texto-sobre {
    justify-content: center !important;
    text-align: justify !important;
    color: #00FFFF !important;

}